<launch>
    <!-- Load parameters from the rrt package -->
    <!-- <rosparam command="load" file="$(find rrt)/config/plane_segmentation.yaml" /> -->
    
    <!-- Start planning the path to goal -->
    <node pkg="rrt_msg" type="rrt_msg_node.py" name="rrt_msg_planning" output="screen" />
    <!-- <node pkg="slam" type="occupancy_map.py" name="occupancy_map" output="screen" /> -->
    
    <!-- Launch the spwan_robot.launch file from the spot_config package -->
    <!-- <include file="$(find spot_config)/launch/spawn_robot.launch">
        <arg name="rviz" value="true" />
    </include> -->

    <!-- <include file="$(find champ_teleop)/launch/teleop.launch" launch-prefix="xterm -e" /> -->
</launch>