<launch>
    <node pkg="explore" type="explore.py" name="explore" output="screen"/>  
    
    <!-- Launch the spwan_robot.launch file from the spot_config package -->

    <!-- <include file="$(find slam)/launch/mapping.launch" />  -->
    <!-- <include file="$(find motion_control)/launch/motion_control.launch" />  -->

    <!-- <group unless="$(eval rostopic info /map | grep -qP '^Type:\s+nav_msgs\/OccupancyGrid$' && echo true)">
        <include file="$(find slam)/launch/mapping.launch" />
    </group>
    <group unless="$(eval rostopic info /desired_velocity | grep -qP '^Type:\s+geometry_msgs\/TwistStamped$' && echo true)">
        <include file="$(find motion_control)/launch/motion_control.launch" />
    </group> -->

    <!-- <include file="$(find champ_teleop)/launch/teleop.launch" launch-prefix="xterm -e" /> -->
</launch>
