<launch>
    <node pkg="explore" type="explore.py" name="explore" output="screen"/>    
    
    <!-- Launch the spwan_robot.launch file from the spot_config package -->


    <include file="$(find rrt)/launch/full_rrt.launch" /> 


    <!-- <include file="$(find champ_teleop)/launch/teleop.launch" launch-prefix="xterm -e" /> -->
</launch>
