actionlib==1.14.0
bosdyn_api==3.2.3
bosdyn_client==3.2.3
bosdyn_core==3.2.3
bosdyn_mission==3.2.3
customtkinter==5.1.3
cv_bridge==1.16.2
matplotlib==3.1.2
message_filters==1.16.0
numpy==1.17.4
protobuf==3.6.1
pyaudio==0.2.13
pyttsx3==2.90
PyYAML==6.0
PyYAML==6.0
rosbag==1.16.0
rosnode==1.16.0
rospkg==1.5.0
rospkg==1.5.0
rospkg_modules==1.5.0
rospy==1.16.0
sensor_msgs==1.13.1
smach==2.5.1
smach_ros==2.5.1
SpeechRecognition==3.10.0
tf==1.13.2
tf2_ros==0.7.6
ttkthemes==3.2.2
