<launch>
    <node pkg="motion_control" type="motion_control.py" name="motion_control" output="screen"/>

    <!-- Launch the spwan_robot.launch file from the spot_config package -->
    <include file="$(find trajectory)/launch/trajectory.launch" /> 

    <!-- <include file="$(find champ_teleop)/launch/teleop.launch" launch-prefix="xterm -e" /> -->
</launch>
