<launch>
  <node pkg="nodelet" type="nodelet" name="right_camera"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/camera/frontright/camera_info"/>
    <remap from="image_rect" to="/spot/depth/frontright/image"/>
    <remap from="points" to="/spot/depth/right/pointcloud"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="left_camera"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/camera/frontleft/camera_info"/>
    <remap from="image_rect" to="/spot/depth/frontleft/image"/>
    <remap from="points" to="/spot/depth/left/pointcloud"/>
  </node>
</launch>