<launch>
    <!-- Load parameters from the slam package -->
    <rosparam command="load" file="$(find slam)/config/occupancy_grid.yaml" />
    <rosparam command="load" file="$(find slam)/config/plane_segmentation.yaml" />
    
    <!-- Start the ground_plane_removal node -->
    <node pkg="slam" type="plane_segmentation.py" name="plane_segmentation" output="screen" />
    <node pkg="slam" type="occupancy_map.py" name="occupancy_map" output="screen" />
    
    <!-- Launch the spwan_robot.launch file from the spot_config package -->
    <!-- <include file="$(find spot_config)/launch/spawn_robot.launch">
        <arg name="rviz" value="true" />
    </include> -->

    <!-- <include file="$(find champ_teleop)/launch/teleop.launch" launch-prefix="xterm -e" /> -->
</launch>
